---
import '@/styles/global.css'
import type { CollectionEntry } from 'astro:content'
import FormattedDate from '@/components/features/FormattedDate.astro'
import FootnoteScroll from '@/components/features/FootnoteScroll.astro'
import BaseHead from '@/components/layout/BaseHead.astro'
import Footer from '@/components/layout/Footer.astro'
import BackButton from '@/components/ui/BackButton.astro'
import GradientMask from '@/components/ui/GradientMask.astro'
import ImageViewer from '@/components/ui/ImageViewer.astro'
import GitHubCard from '@/components/ui/GitHubCard.astro'
import XPOST from '@/components/ui/XPOST.astro'
import CopyCode from '@/components/ui/CopyCode.astro'
import BaseLayout from '@/layouts/BaseLayout.astro'

import { SITE } from '@/config'

type Props = CollectionEntry<'posts'>['data'] & {
  readingTime?: {
    text: string
    minutes: number
    time: number
    words: number
  }
}

const { title, pubDate, readingTime } = Astro.props
---

<BaseLayout title={`${title} · ${SITE.title}`} description={SITE.description} type="post">
  <BaseHead title={`${title} · ${SITE.title}`} description={SITE.description} slot="head" />
  <div class="post-container">
    <main>
      <div class="prose">
        <GradientMask />
        <BackButton />
        <div class="title">
          <h1>{title}</h1>
          <div class="date">
            <FormattedDate date={pubDate} />
            {
              SITE.readingTime && readingTime && (
                <span class="reading-time">
                  <span class="separator">·</span>
                  {readingTime.text}
                </span>
              )
            }
          </div>
        </div>
        <slot />
      </div>
    </main>
    <FootnoteScroll />
    <CopyCode />
    <GitHubCard />
    <XPOST />
    {SITE.imageViewer && <ImageViewer />}
    {SITE.footer && <Footer />}
  </div>
</BaseLayout>

<style>
  .post-container {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .post-container main {
    flex: 1;
  }
</style>
